{{- define "main" -}}

<h1>{{ .Title | markdownify }}</h1>

{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
{{ $minutes := math.Round (div $readTime 60) }}

<p>
  <small class="text-secondary">
  {{ $customDateFormat := "2. Junuar 2006" }}
  {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
  {{ .PublishDate.Format $customDateFormat }}
  {{ if gt .Lastmod .PublishDate }}, zuletzt geändert am: {{ .Lastmod.Format $customDateFormat }}{{ end }}
  &#124; Lesedauer: {{ $minutes }} {{ cond (lt $minutes 2) "Minute" "Minuten" }}
  </small>
</p>
{{ .Content }}

{{ partial "disqus.html" . }}

{{- end -}}
